.container {
  background: linear-gradient(180deg, rgba(35,2,51,1) 0%, rgba(17,16,47,1) 100%);
  display: flex;
}

.list, .logo-container h4 {
  list-style: none;  
  text-align: justify;
}

.logoContainer h4 {
  font-size: x-large;
  font-weight: 300;
  margin-left: 1rem;
  font-family: 'Monoton', cursive;
  color: orange;
}

.list li {
  color: white;
  margin-top: 1.5rem;
  font-family: 'Days One', sans-serif;
  border: blueviolet 1px solid;
  border-radius: 25%;
  padding: 1rem;
}

