.item {
  margin-right: 0.5rem;
  border: 1px solid black;
}

.name {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(169, 169, 169, 0.51);
  padding: 10px 5px;
  margin: 5px;
  border: 1px solid black;
  text-align: center;
}

.thumb {
  margin-right: 15px;
  width: 100%;
}
