.container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.container > * {
  flex: 1 0 30%;
}

.wrapper {
  margin-top: 20px;
}

.title {
  text-transform: uppercase;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: x-large;
  color: purple;
  text-align: center;
}
